<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <a href src="/errors/error">error site</href>
  <p class="copyright"><a href "fakelink" error link></a> & copy ; <%= year %>, CSE 340 App</p>
</footer>