<body>
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    <img src="/images/vehicles/delorean.jpg" alt="delorean">
    <div class="heroText">
        <h3>DMC Delorean</h3>
        <h4>
            3 cup holders<br>
            superman doors<br>
            fuzzy dice
        </h4>
        <button class="ownButton">Own Today</button>
    </div>
    <div class="reviews">
        <h2>Delorean Reviews</h2>
        <ul>
            <li>So cool! 4/5</li>
            <li>Best car I've ever owned! 5/5</li>
            <li>Fancy living, here we come! 5/5</li>
        </ul>
    </div>
    <h2>Delorean Upgrades</h2>
    <div class="upgrades">
        <div id="bumper">
            <img  src="/images/upgrades/bumper_sticker.jpg" alt="upgrade">
            <p>bumper sticker</p>
        </div>
        <div id="flame">
            <img src="/images/upgrades/flame.jpg" alt="upgrade">
            <p>flame decals</p>
        </div>
        <div id="flux">
            <img src="/images/upgrades/flux-cap.png" alt="upgrade">
            <p>flux capacitor</p>
        </div>
        <div id="hub">
            <img src="/images/upgrades/hub-cap.jpg" alt="upgrade">
            <p>hub caps</p>
        </div>
    </div>
</body>
