<%# Content Heading %>

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>

<form id="loginForm" action="/account/login" method="post">
    <fieldset>
        <label>Classification Name</label>
        <input name="classification_name" required>
    </fieldset>
    <button>Submit</button>
</form>