<%# Content Heading %>

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>

<a href="/classification">Add new classification</a>
<a href="/inventory">Add new inventory</a>

